<h1 style="font-size:50px; text-align:center;">HEADPHONES</h1>
<p style="font-size:20px; text-align:center; line-height:30px;">The time for a change has come!<br> Try out new superb iListen headphones 
that are better than Monster Beats by Dr. Dre! Please do not fall victim to expensive .</p>
<h1 style="font-size:40px; text-align:center;">lorem ipsum dolor set amet lorem ipsum</h1>

<div style="text-align:center;" ><a style="font-size:20px; background-color:red; padding: 15px 35px 15px 35px;color:white;" href="https://www.google.com/">call to action</a></div>
<img src="jpg.webp">
