<div style="text-align:center; margin-top:40px;" ><img src="logo.avif"><a style="font-size:20px;"</div>
<div style="text-align:center; margin-top:40px;" >
<a style="padding-right:20px;" href="what we do.html">what we do</a>
<a style="padding-right:20px;" href="our results.html">our results</a>
<a style="padding-right:20px;" href="contact us.html">contact us</a>
</div>
<h1 style="font-size:50px; text-align:center;">our results</h1>
<p style="font-size:20px; text-align:center; line-height:30px;">While <br>headphones provide benefits such as increased focus, 
noise cancellation, <br>stress relief, and mood enhancement,<br> they can also hinder collaboration,
 limit learning opportunities, and reduce awareness of office events..</p>
<h1 style="font-size:40px; text-align:center;">lorem ipsum dolor set amet lorem ipsum</h1>

<a background-image="jpg"></a>
